{% extends 'wagtailadmin/shared/headers/slim_header.html' %}
{% load wagtailadmin_tags i18n %}

{% block breadcrumbs %}
    {% page_breadcrumbs parent_page 'wagtailadmin_explore' url_root_name='wagtailadmin_explore_root' include_self=True trailing_breadcrumb_title=title %}
{% endblock %}

{% block toggles %}
    {{ block.super }}
    <div class="sm-editor-layout-toggle" data-skinmenu-editor-toggle>
        <button type="button" class="sm-editor-layout-toggle__button" data-layout="split" aria-pressed="false">Split view</button>
        <button type="button" class="sm-editor-layout-toggle__button" data-layout="preview" aria-pressed="false">Preview focus</button>
    </div>
    <button type="button" class="sm-editor-modules-button" data-skinmenu-modules-toggle>Modules</button>
{% endblock %}
