{% load wagtailimages_tags %}
<div>
  {% if block.value.image %}
    {% image block.value.image fill-1200x900 as img %}
    <div class="overflow-hidden border border-border/35 bg-surface">
      <img
        src="{{ img.url }}"
        width="{{ img.width }}"
        height="{{ img.height }}"
        alt="{{ block.value.image.title }}"
        class="h-[380px] w-full object-cover md:h-[560px]"
        loading="lazy"
      />
    </div>
  {% else %}
    <div class="h-[380px] md:h-[560px] border border-border/35 bg-surface flex items-center justify-center text-fg/60 text-sm">
      Optional image
    </div>
  {% endif %}
</div>
