{% load wagtailimages_tags wagtailcore_tags %}

<section>
  <div class="container-shell py-14 md:py-18">
    <div class="grid gap-10 md:grid-cols-2 md:items-start">
      {% if block.value.image_position == "left" %}
        {% include "pages/blocks/_ti_image.html" with block=block %}
        {% include "pages/blocks/_ti_text.html" with block=block %}
      {% else %}
        {% include "pages/blocks/_ti_text.html" with block=block %}
        {% include "pages/blocks/_ti_image.html" with block=block %}
      {% endif %}
    </div>
  </div>
</section>
